/* ****** Variables ******/
:root {
  --font: "Inter", sans-serif;
  --font-18: 18px;
  --font-13: 13px;
  --neutral-100: #ffffff;
  --neutral-900: #4a4a4a;
  --primary-500: #1266ea;
  --primary-700: #0b4193;
  --primary2-700: #0b4193;
  --secondary-200: #aeb1ca;
  --secondary-400: #787ca7;
  --Fourty-2-Aplpha-25: #59afff25;
  --secondary-2-300: #75d5ff;
}

/* ****** Reset ******/
html {
  font-family: var(--font);
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  min-width: 0;
}

body {
  margin: 0;
  hoverflow-x: hidden;
  min-height: 100dvh;
}

a {
  color: var(--font-color);
  transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
}
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}
h1 {
  margin: 0;
  font-size: 3rem;
}

h2 {
  margin: 0;
  font-size: 1.5rem;
}

h3 {
  margin: 0;
  font-size: 1.125rem;
}

h4 {
  margin: 0;
  font-size: 1rem;
}

h5 {
  margin: 0;
  font-size: 0.85rem;
}

h6 {
  margin: 0;
  font-size: 0.7rem;
}

img {
  max-width: 100%;
  width: 200px;
}

p {
  line-height: 1.6;
  text-wrap: pretty;
}

/* ****** UTILIDADES (clases rápidas, helpers) ***** */

/* ****** LAYOUT GENERAL (estructura: header, main, footer) ***** */

/* ****** COMPONENTES REUTILIZABLES (botones, tarjetas, etc.) ***** */

/* ****** SECCIONES O BLOQUES ESPECÍFICOS (BEM) ***** */
.container_text {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0rem;
  width: 90%;
}
.teamcontainer {
  display: flex;
  flex-direction: column;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* background-color: gold; */
  max-width: 1920px;
}
.teamcontainer_titles {
  width: 70%;
}

.teamcontainer_title {
  font-size: 2rem;
  font-weight: 800;
}
.teamcontainer_text {
}
.teamcontainer_carrousel {
  width: 85%;
  max-width: 120em;
  overflow: hidden;
}
.teamcontainer_carrousel--container {
  width: 200%;
  /*background-color: lawngreen;
  */
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  transition: all 0.5s ease;
  transform: translateX(0%);
}
.teamcontainer_carrousel--container .contenido:first-child {
  margin-left: 0px;
}
.contenido {
  width: 300px;
  margin: 0px 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*background-color: rgb(137, 88, 88);
  */
  border: solid 1px #d5d3d9;
  border-radius: 20px;
}
.teamcontainer_imgcontainer {
  width: 250px;
  height: 200px;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.teamcontainer_perfil {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.teamcontainer_textos {
  width: 80%;
}
.textos {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1rem;
}
.teamcontainer_usuario {
  font-size: 1rem;
  font-weight: 600;
  margin: 0px;
  margin-right: 1rem;
}
.teamcontainer_puesto {
  font-size: 0.8rem;
  margin: 0px;
  color: #ad94df;
  font-weight: 600;
}
.teamcontainer_puntos {
  width: 20%;
  /*  background-color: red; */
  padding: 1em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
}
.teamcontainer_puntos--punto {
  width: 2em;
  height: 2em;
  border: 1px solid #4a4a4a;
  border-radius: 50%;
  background-color: #ffffff;
  margin: 1em;
}

.activo {
  background-color: orange;
  border: none;
}

hr {
  border: none;
  height: 1px;
  background: #666;
  margin: 1rem 0rem;
}

/* ****** Media Queries ******/
